<% stylesheet('css/w3.css')%>
<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <link rel='stylesheet' type='text/css' href='/css/w3.css'>
  </head>
  <body>
  <header class="w3-container w3-blue">
    <h1>Good Quotes!</h1>
  </header>
    <div id='quotes'>
    <% //console.log(Quotes.ID);
    for (var quote of Quotes){ %>
      <div class='w3-panel w3-card w3-light-grey'>
        <p class='w3-large w3-serif'><%=quote.Quote%></p>
        <p>&emsp;~<%=quote.Author%></p>
      </div>     
    <%}%>
    </div>
  </body>
</html>